<div class="badge-container">
    <a href="https://play.google.com/store/apps/details?id=de.hbch.traewelling" target="_blank">
        <img class="badge" src="../assets/google-play-badge.png" alt="Träwelldroid bei Google Play herunterladen">
    </a>
    <div id="legal">
        Google Play und das Google Play-Logo sind Marken von Google LLC.
    </div>
    <a href="https://f-droid.org/de/packages/de.hbch.traewelling" target="_blank">
        <img class="badge" src="../assets/f-droid-badge.png" alt="Träwelldroid bei F-Droid herunterladen">
    </a>
</div>
<div id="privacy">
    <a routerLink="privacy">Impressum und Datenschutz</a>
</div>