<div class="badge-container">
    <a href="https://play.google.com/store/apps/details?id=de.hbch.traewelling" target="_blank">
        <img class="badge" src="../assets/google-play-badge.png" alt="Träwelldroid bei Google Play herunterladen">
    </a>
    <div id="legal">
        Google Play und das Google Play-Logo sind Marken von Google LLC.
    </div>
    <a href="https://f-droid.org/de/packages/de.hbch.traewelling" target="_blank">
        <img class="badge" src="../assets/f-droid-badge.png" alt="Träwelldroid bei F-Droid herunterladen">
    </a>
    <div id="crt-fingerprint">
        Offizielle Träwelldroid-APK-Dateien von F-Droid / GitHub sind mit folgendem Zertifikat signiert: <br />
        SHA-256: <span id="sha">98:9F:B4:F3:87:A7:EA:95:F5:64:05:84:1B:BA:E8:AF:0C:14:DD:FF:04:62:A1:C9:19:D9:11:99:44:B2:0E:FC</span>
    </div>
</div>
<div id="privacy">
    <a routerLink="privacy">Impressum und Datenschutz</a>
</div>